<div class="container-fluid header-info">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
    <a id="learnmoremobile" href="#allinone" class="mx-auto">Learn More</a>
  </div>
  <div class="row align-items-center">
    <!--<div class="col-12 col-lg-7 order-lg-2">-->

    <!--<h5>Welcome</h5>-->

    <!--<div class="row">-->

    <!--<div class="mt-3 col-md-3 col-sm-3 col-xs-3 col-lg-3 col-xl-3 mx-auto">


                                <img style="display: block; margin:auto" class="stickman" src="img/screens/stickman.png" />


                            </div>-->
    <div class="mt-4 col-md-6 col-sm-12 col-xs-6 col-lg-6 col-xl-6">
      <h1 class="theme"><span style="display: block; margin-left: 11px; color: #FFFFFF" class="bold mx-auto">HIRE TRUNGA WHERE WE</span><span style="font-size: 30px; margin-bottom: 23px; color: #FFFFFF">Provide Rockstar Software Developers, Project Management, On Or Off Site Without Inflated Employee Costs </span></h1>
    </div>
  </div>
  <div id="idcallouts" style="padding-left: 0px" class="mt-4 col-md-12 col-sm-12 col-xs-5 col-lg-5 col-xl-5">
    <a href="#allinone" class="nav-link mx-auto p-3 mr-4 btn btn btn-rounded btn-1 nav-link scrollto btn btn-rounded btn-success">
      Learn more
    </a>
    <a href="#" id="buildteamform" class="nav-link mx-auto p-3 mt-1 nav-link btn btn-rounded btn-success">
      Hire Street Gravity
    </a>
    <a href="#video" class="nav-link mx-auto p-3 mt-1 nav-link btn btn-rounded btn-primary">
      Video Intro
    </a>
    <span style="display:block; color: #FFF; font-size: 15px; margin-top: 5px">Try a Street Gravity developer for 14 days risk free.</span>
    <div id="fivestar">
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span id="fivestartext">Five Star Rated</span>
    </div>
    <div style="color: #FFF">Samuel Gottenberg (CTO) - "Street Gravity is well beyond a stable of unvetted, for sale developers backed by a branding name. They focus on successful project delivery." </div>
    <!--</div>-->
    <!--<img src="img/screens/Crossplatform.png" style="border:2px dashed aliceblue; border-radius: 5px; margin-top: 43px" class="img-responsive" />-->
    <!--</div>-->
  </div>
  <div class="row">
    <div id="idbuildoptions" style="background-color: #FFFFFF; display: none; position:absolute; top: 100px; padding-top:23px; padding-bottom: 70px; border: 2px solid black; border-radius: 3px" class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 mx-auto text-center">
      <a href="#" id="idclose" style="position: absolute; right:0px">X</a>
      <div>
        <div>
          <h1 style="padding: 23px; color: coral"><span class="bold text-center"> PROJECT BUILDING OPTIONS </span></h1>
          <h2 style="padding: 23px; color: aqua"><span class="bold text-center"> CHECK MARK YOUR GOALS </span></h2>
          <div>
            <fieldset>
              <h5 class="bold"> Team Management </h5>
              <div>
                <input type="radio" name="whomanages" value="1"><span>Build A Team I Manage</span>
                <input type="radio" name="whomanages" value="0"><span>Build A Team Street Gravity Manages</span>
              </div>
            </fieldset>

            <fieldset>
              <h5 class="bold"> Team Model </h5>
              <input type="radio" name="teammodel" value="1"><span>Remote Team</span>
              <input type="radio" name="teammodel" value="0"><span>Onsite Team</span>
              <input type="radio" name="teammodel" value="2"><span>Both</span>
            </fieldset>

            <fieldset>
              <h5 class="bold"> Team Location </h5>
              <input type="radio" name="teamlocation" value="1"><span>Onshore Team</span>
              <input type="radio" name="teamlocation" value="0"><span>Offshore Team</span>
              <input type="radio" name="teamlocation" value="2"><span>Both</span>
            </fieldset>

            <fieldset>
              <h5 class="bold"> Requirements </h5>
              <input type="radio" name="requirements" value="1"><span>I Have Requirements</span>
              <input type="radio" name="requirements" value="2"><span>I Don't Have Requirements</span>
            </fieldset>

            <fieldset>
              <label class="bold">Email Address:</label> <input id="idemailbuild">
            </fieldset>

            <fieldset>
              <a href="#" id="idbuildteamemail" class="nav-link mx-auto p-3 mt-1 nav-link btn btn-rounded btn-success">
                Send
              </a>
            </fieldset>

            <fieldset>
              <span id="message5"></span>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>